
/* Members.css */


.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Creates a responsive grid */
    gap: 200px; /*between photos left and right*/
    row-gap: 100px; /*between rows*/
    padding: 100px 150px; /*top and bottom respectively*/
  }
  
  .member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .member-photo {
    width: 300px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    object-fit: cover; /* Ensures photos cover the area well */
  }
  
  .member-name {
    font-family: "Satoshi-Light";
    font-size: 18pt;
    margin-top: 5px;
  }

  .member-position {
    font-family: "Satoshi-Black";
    font-size: 18pt;
    margin-top: 5px;
  }