.startup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    text-align: center;
}

.startup-center-text {
    font-size: 50pt;
    padding-top: 75px;
}
