/* startups.css */

.startup-page {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.tag {
  font-size: 24pt;
  text-align: center;
}

.imgslider img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 70vh;
  height: auto;
  margin: auto;
}

.imgslider {
  width: 80%; /* Or a specific width */
  /* Ensure the container can grow to fit content, if necessary */
  min-height: 50vh;
}
