.App {
  /* Add styles for the main app container if needed */
}

.header-logo {
  height: 75px;
  width: auto;
  align-content: center;
}

.header-text {
  padding-right: 15px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row; /* Changed from column to row */
  align-items: center;
  justify-content: space-between; /* Ensures logo and text are on opposite ends */
  padding: 15px; /* Added padding for some spacing around the contents */
  font-size: calc(7px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
