html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Satoshi-Black";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit; /* Inherit box-sizing to make sure padding and borders are included in the element's total width and height */
}


.header-logo {
  height: 75px;
  width: auto;
  align-content: center;
  padding-left: 5px;
}

.header-text {
  padding-right: 18px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: white;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 85px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sigma-eta-pi-center {
  font-size: 50pt;
  margin: 0;
}

.typing-effect {
  font-size: 25pt;
  margin-bottom: 75px;
  color: #F06141;
}

.App-header {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: calc(7px + 2vmin);
}

/* Style the container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (hidden by default, centered on hover) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}


/* Links inside the dropdown */
.dropdown-item {
  font-size: calc(7px + 2vmin);
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-item:hover {
  background-color: #F06141;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
