.typingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full height of the viewport */
    text-align: center; /* Ensure text is centered */
  }
  
  @keyframes blink-animation {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .cursor {
    display: inline-block;
    margin-left: 2px;
    width: 10px;
    height: 90px;
    background-color: currentColor; /* Use the current font color */
    animation: blink 1s step-start 0s infinite;
  }

  
  .blinking-cursor {
    display: inline-block;
    vertical-align: bottom; /* Aligns better with text */
    margin-left: 2px; /* Adjust spacing between text and cursor */
    height: 1em; /* Ensures cursor height matches text height */
    width: 2px; /* Width of the cursor line */
    background-color: #FFFFFF; /* Uses the current text color */
    animation: blink 1s step-end infinite;
  }