@keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .cursor {
    display: inline-block;
    margin-left: 2px;
    width: 10px;
    height: 24px;
    background-color: white;
    animation: blink 1s step-start 0s infinite;
  }
